# Importing Libraries

In [1]:
import sqlite3 
import pandas as pd

In [2]:
# Connecting to database
conn = sqlite3.Connection('Northwind.sqlite')
# Initializing cursor
c = conn.cursor()

In [13]:
# Viewing all tables
c.execute("""SELECT name 
             FROM sqlite_master
             WHERE 
                 TYPE = 'table' AND name NOT LIKE 'sqlite_%';""").fetchall()

[('Employee',),
 ('Category',),
 ('Customer',),
 ('Shipper',),
 ('Supplier',),
 ('Order',),
 ('Product',),
 ('OrderDetail',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Region',),
 ('Territory',),
 ('EmployeeTerritory',)]

In [22]:
# Selecting all from SQLite_Master
c.execute("""SELECT * 
             FROM sqlite_master
             WHERE 
                 TYPE = 'table' AND name NOT LIKE 'sqlite_%';""").fetchall()

[('table',
  'Employee',
  'Employee',
  2,
  'CREATE TABLE "Employee" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "LastName" VARCHAR(8000) NULL, \n  "FirstName" VARCHAR(8000) NULL, \n  "Title" VARCHAR(8000) NULL, \n  "TitleOfCourtesy" VARCHAR(8000) NULL, \n  "BirthDate" VARCHAR(8000) NULL, \n  "HireDate" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "HomePhone" VARCHAR(8000) NULL, \n  "Extension" VARCHAR(8000) NULL, \n  "Photo" BLOB NULL, \n  "Notes" VARCHAR(8000) NULL, \n  "ReportsTo" INTEGER NULL, \n  "PhotoPath" VARCHAR(8000) NULL \n)'),
 ('table',
  'Category',
  'Category',
  3,
  'CREATE TABLE "Category" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CategoryName" VARCHAR(8000) NULL, \n  "Description" VARCHAR(8000) NULL \n)'),
 ('table',
  'Customer',
  'Customer',
  4,
  'CREATE TABLE "Customer" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n  "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL \n)'),
 ('table',
  'Shipper',
  'Shipper',
  8,
  'CREATE TABLE "Shipper" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL \n)'),
 ('table',
  'Supplier',
  'Supplier',
  9,
  'CREATE TABLE "Supplier" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n  "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL, \n  "HomePage" VARCHAR(8000) NULL \n)'),
 ('table',
  'Order',
  'Order',
  11,
  'CREATE TABLE "Order" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CustomerId" VARCHAR(8000) NULL, \n  "EmployeeId" INTEGER NOT NULL, \n  "OrderDate" VARCHAR(8000) NULL, \n  "RequiredDate" VARCHAR(8000) NULL, \n  "ShippedDate" VARCHAR(8000) NULL, \n  "ShipVia" INTEGER NULL, \n  "Freight" DECIMAL NOT NULL, \n  "ShipName" VARCHAR(8000) NULL, \n  "ShipAddress" VARCHAR(8000) NULL, \n  "ShipCity" VARCHAR(8000) NULL, \n  "ShipRegion" VARCHAR(8000) NULL, \n  "ShipPostalCode" VARCHAR(8000) NULL, \n  "ShipCountry" VARCHAR(8000) NULL \n)'),
 ('table',
  'Product',
  'Product',
  12,
  'CREATE TABLE "Product" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "ProductName" VARCHAR(8000) NULL, \n  "SupplierId" INTEGER NOT NULL, \n  "CategoryId" INTEGER NOT NULL, \n  "QuantityPerUnit" VARCHAR(8000) NULL, \n  "UnitPrice" DECIMAL NOT NULL, \n  "UnitsInStock" INTEGER NOT NULL, \n  "UnitsOnOrder" INTEGER NOT NULL, \n  "ReorderLevel" INTEGER NOT NULL, \n  "Discontinued" INTEGER NOT NULL \n)'),
 ('table',
  'OrderDetail',
  'OrderDetail',
  14,
  'CREATE TABLE "OrderDetail" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "OrderId" INTEGER NOT NULL, \n  "ProductId" INTEGER NOT NULL, \n  "UnitPrice" DECIMAL NOT NULL, \n  "Quantity" INTEGER NOT NULL, \n  "Discount" DOUBLE NOT NULL \n)'),
 ('table',
  'CustomerCustomerDemo',
  'CustomerCustomerDemo',
  16,
  'CREATE TABLE "CustomerCustomerDemo" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "CustomerTypeId" VARCHAR(8000) NULL \n)'),
 ('table',
  'CustomerDemographic',
  'CustomerDemographic',
  18,
  'CREATE TABLE "CustomerDemographic" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "CustomerDesc" VARCHAR(8000) NULL \n)'),
 ('table',
  'Region',
  'Region',
  21,
  'CREATE TABLE "Region" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "RegionDescription" VARCHAR(8000) NULL \n)'),
 ('table',
  'Territory',
  'Territory',
  22,
  'CREATE TABLE "Territory" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "TerritoryDescription" VARCHAR(8000) NULL, \n  "RegionId" INTEGER NOT NULL \n)'),
 ('table',
  'EmployeeTerritory',
  'EmployeeTerritory',
  24,
  'CREATE TABLE "EmployeeTerritory" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "EmployeeId" INTEGER NOT NULL, \n  "TerritoryId" VARCHAR(8000) NULL \n)')]

From here I would make a table that contained information on the columns of all of the tables to create a **Table of Contents**, of sorts.

In [ ]:
# Selecting all phone numbers names and